<div class="loginContainerDiv">
    <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="center aligned column welcomeText">
            WELCOME BACK <p style="color:green">WTC</p>

        </div>  
        <div class="column">
            <div class="ui form loginFormDiv">
                <div class="littleTaleImgDiv"> 
                    <img class="littleTaleImg" src="./styles/themes/images/login-Screen.png" width:="100" height="70">
                </div>
                <div class="field uname">
                    <div class="ui transparent input">
                        <input type="email" placeholder="Email address">
                    </div>
                </div>	  
                <div class="field pword">
                    <div class="ui transparent input">
                        <input type="password" placeholder="Password">
                    </div>
                </div>
                <div class="forgotPword">
                    <label>Forgor password ?</label>
                </div>
                <div class="loginDiv">
                    <div (click)="login()" class="ui blue submit button" class="ui blue submit button loginBtn">Login</div>
                </div>
                <div class="ui horizontal divider horizontalDevider">
                    Or
                </div>
                <div class="facebookBtnDiv">
                    <div class="ui blue submit button">Continue Using Facebook</div>
                </div>
                <div class="registerDiv">
                    <label>Register</label>
                </div>
                <hr>
                <div class="letmeExploreDiv">
                    <label>Let me Explore</label>
                </div>
            </div>      
        </div>
        <div class="bottomDivImg"> 
        </div>
    </div>
</div>