<div class="ragistrationContainerDiv">
    <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="left aligned column">
            <div class="leftTextAlign">
                <div class="welcomeRegistration">
                    <div class="textDevHeight welcomeRegistration">WELCOME </div>
                    <div class="textThemeColoRed textDevHeight">WORDSMITH</div>
                </div>
                <div class="descText">
                    <div>TO CREATE THE BEST EXPERIENCE</div>
                    <div>BE GET TO KNOW YOU A LITTLE</div>
                    <div>BETTER</div>
                </div>
            </div>
        </div>
        

        <div class="column">
            <div class="ui form loginFormDiv">
                <div class="littleTaleImgDiv"> 
                    <img class="littleTaleImg" src="./styles/themes/images/login-Screen.png">
                </div>
                <div class="field uname">
                    <div class="ui transparent input">
                        <input type="email" placeholder="Email address">
                    </div>
                </div>
                <div class="field penName">
                    <div class="ui transparent input">
                        <input type="text" placeholder="Pen Name">
                    </div>
                </div>
                <div class="field pword">
                    <div class="ui transparent input">
                        <input type="password" placeholder="Password">
                    </div>
                </div>
                <div class="termsOfService">
                    <label>By creating an account you agree to facinating <span style="color:red">Terms of Service</span></label>
                </div>
                <div class="registerDiv">
                    <div class="ui blue submit button loginBtn">Register</div>
                </div>
            </div>      
        </div>

        <div class="bottomDivImg"> 
        </div>
    </div>
</div>