<div class="ui two column middle aligned very relaxed stackable grid">
  <div class="center aligned column welcomeText">
  Register
  </div>
  
  <div class="column">
    <div class="ui form loginFormDiv">
	  <div class="littleTaleImgDiv"> 
		<img class="littleTaleImg" src="./styles/themes/images/login-Screen.png" width:="149" height="146">
	  </div>
      <div class="field uname">
        <div class="ui transparent input">
			<input type="email" placeholder="Email address">
		</div>
      </div>
	  <div class="field penName">
        <div class="ui transparent input">
			<input type="text" placeholder="Pen Name">
		</div>
      </div>
      <div class="field pword">
        <div class="ui transparent input">
			<input type="password" placeholder="Password">
		</div>
      </div>
	  <div class="termsOfService">
		<label>By creating an account you agree to facinating <span style="color:red">Terms of Service</span></label>
	  </div>
	  <div class="registerDiv">
		<div class="ui blue submit button loginBtn">Register</div>
	  </div>
      </div>      
    </div>
  </div>