<div class="ui two column middle aligned very relaxed stackable grid">
    <div class="center aligned column welcomeText">
        Submit
    </div>

    <div class="column">
        <div class="ui form loginFormDiv">
            <div class="littleTaleImgDiv"> 
                <img class="littleTaleImg" src="./styles/themes/images/login-Screen.png" width:="149" height="146">
            </div>
            <div class="field uname">
                <div class="ui transparent input">
                    <input type="email" placeholder="Email address">
                </div>
            </div>	  
            <div class="registerDiv">
                <div class="ui blue submit button loginBtn">Submit</div>
            </div>
            <div class="resetLblDiv">
                <label>Our team send you a password reset link to the above email address</label>
            </div>
        </div>      
    </div>
</div>