<p>
    <input #newname>
    <button (click)="addName(newname)">Add</button>
</p>

<h1>Howdy!</h1>
<h2>Gratz!!!!!!!</h2>
<p>
    Your deployment of Angular 2 Seed worked perfectly!
    Click <a [router-link]="['/about']">here</a> to get your reward!
</p>

<div class="ui checkbox">
  <input type="checkbox">
  <label>Label</label>
</div>


<form class="ui form">
  <div class="field">
    <label>First Name</label>
    <input type="text" name="first-name" placeholder="First Name">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="last-name" placeholder="Last Name">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button type="button" class="ui button" (click)="addName(newname)">Submit</button>
</form>

<div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    1,048
  </a>
</div>
<div class="ui labeled button" tabindex="0">
  <div class="ui basic blue button">
    <i class="fork icon"></i> Forks
  </div>
  <a class="ui basic left pointing blue label">
    1,048
  </a>
</div>





